/* 页面 */
body {
	font-size: 16px;
	color: #333;
	background: #fff;
	margin: 0;
	padding: 15%;
}
/* txt */
h1 {
	font-size: 2.2em;
	font-weight: 700;
	line-height: 1.1;
	padding-top: 16px;
	margin-bottom: 4px;
	text-align:center;
}
h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	margin-top: 2.2em;
	margin-bottom: 4px;
    font-weight: 700;
    line-height: 1.4;
}
h2 {
	font-size: 1.9em;
	margin: 40px 10px 20px 0;
    padding-left: 9px;
    border-left: 9px solid #ff7e79;
}
h3 {
	font-size: 1.6em;
	margin: 10px 0 5px;
	padding-top: 10px;
    padding-left: 9px;
    border-left: 7px solid #ff7e79;
}
h4 {
	font-size: 1.3em;
	margin: 10px 0 5px;
	padding-top: 10px
    padding-left: 9px;
    border-left: 5px solid #ff7e79;
}
h5, h6 {
	font-size: 1em;
    padding-left: 9px;
    border-left: 3px solid #ff7e79;
}
h5 {
	font-weight: bold;
}
h6 {
	font-weight: normal;
}
p {
	margin: 0 0 20px;
	padding: 0;
	line-height: 1.8;
    text-indent:2em;
}
/* 代码文本 */
code {
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 90%;
}
p>code {
	color: #c7264e;
	background-color: #f9f2f4;
	font-size: .95em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/* image */
img {
	border-radius: 5px;
	display: block;
	margin-bottom: 15px;
	height: auto;
    width: auto;
}
figure {
    text-align: center;
    display: table;
}
/* 超链接 */
a {
	color: #f22f27;
	text-decoration: none;
}
a:hover {
	color: #f55852;
	text-decoration: underline;
}
a:focus {
	outline-offset: -2px;
}
/* 块引用 */
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ff7e79;
    line-height: 1.2;
}
/* 换行 */
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
/* 标记 */
dl, ol, ul {
	margin-top: 12px;
	margin-bottom: 20px;
	padding-left: 5%;
	line-height: 1.8;
}
ol p, ul p {
	margin-bottom: 0px;
}
li {
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}
ol#footnotes {
	font-size: 0.95em;
	padding-top: 1em;
	margin-top: 1em;
	margin-left: 0;
	border-top: 1px solid #eaeaea;
	counter-reset: footer-counter;
	list-style: none;
	color: #555;
	padding-left: 5%;
	margin: 20px 0;
}
ol#footnotes li {
	margin-bottom: 10px;
	margin-left: 16px;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}
ol#footnotes li:before {
	content: counter(footer-counter) ". ";
	counter-increment: footer-counter;
	font-weight: 800;
	font-size: .95em;
}
/* 重要的文本 */
strong, dfn {
	font-weight: 700;
}
/* 被强调的文本 */
em, dfn {
	font-weight: 400;
}
/* 已删除部分 */
del {
	text-decoration: line-through;
}
/* table */
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}
table {
    border: solid #ccc 1px;
}
table thead {
    background: #f7f7f7;
}
table thead tr:hover {
    background: #f7f7f7
}
table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
table td, .table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
table th {
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    padding: 5px;
    border-left: 1px solid #ccc;
}
table td:first-child, table th:first-child {
    border-left: none;
}
/* 预格式化 */
pre {
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857;
	word-break: break-all;
	word-wrap: break-word;
	border-radius: 4px;
	white-space: pre-wrap;
	display: block;
	background: #f8f8f8;
	padding: 10px 20px;
	border: none;
	margin-bottom: 25px;
	color: #666;
}
